name: Flutter Testing
on:
  workflow_dispatch:
  pull_request:
    branches:
      - development
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: subosito/flutter-action@v1.5.3
      - name: Install packages
        run: flutter pub get
      - name: Run test
        run: flutter test test
